.cookieConsent {
    background: rgb(53, 53, 53);
    color: $white;
    box-shadow: initial;
    border-top: initial;

    :focus {
      outline-style: solid;
      outline-width: 3px;
      outline-color: $white;
    }

    .cookie-content {
        #cookiebar-link {
          color: $white;
        }
    }

    #cookie-accept-button {
      background: #ffd239;
      color: $black;
      border: 1px solid $black;
    }

    #cookie-decline-button {
      background: #e4032e;
      color: $black;
    }
  }
