body {
  #CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSliderWrapper input:focus-visible + span,
  #CybotCookiebotDialog :focus-visible {
    outline-offset: 1px;
  }
  #CybotCookiebotDialog .CybotCookiebotDialogContentWrapper #CybotCookiebotDialogNav :focus-visible {
    outline-offset: -5px;
  }
  #CybotCookiebotDialogPoweredbyImage {
    max-height: 4em;
    content:url("https://www.turku.fi/sites/default/files/thumbnails/image/turku_pysty_viiva_black_pelkka_vaakuna_1.png") !important;
  }
  #CybotCookiebotDialogHeader {
    padding: 0.75em;
  }
  a#CybotCookiebotDialogPoweredbyCybot {
    display:none;
  }
}
