.cookieConsent {
    background-color: black;
    color: $white;
    box-shadow: initial;
    border-top: initial;

    :focus {
      outline: $white solid 3px;
    }

    .cookie-content {
        #cookiebar-link {
          color: $white;
        }
    }

    #cookie-accept-button {
      background: #ffd239;
      color: $black;
      border: 1px solid #ffd239;
    }

    #cookie-decline-button {
      background: #e50064;
      border-color: #e50064;
      color: $black;
    }
  }
