
// HIGH-CONTRAST STUFF STARTS
.high-contrast {
  // HEADER
  nav:first-child {
    border-bottom: 1px solid $black;

    .dropdown-menu > .active > a {
      background-color: $black;
    }
  }
  nav:last-child {
    background-color: $white;
    color: $black;
    border-bottom: 1px solid $black;
    .navbar-brand,
    .nav-item a{
      color: $black;
      &:hover::after{
        border-color: $black;
      }
      &:focus {
        outline-color: $black;
      }
    }

    .navbar-nav > .active > a:hover,
    .navbar-nav > .active > a::after{
      color:$black;
      border-color: $black;
    }
  }

  main {
    // Etusivu - home
    .welcome-content {
      background-color: $white;
      color: $black;
      text-shadow: none;
    }

    .page-section {
      &--hearing-card {
        .fullwidth {
          &-hearing{
            border: 1px solid $black;
            box-shadow: none;
            &-times {
              color: $black;
            }
          }
        }
      }

      .list {
        .hearing-card {
          border: 1px solid $black;
          &-time {
            color: $black;
          }
        }
        .text-center {
          .btn-default {
            border-color: $black;
            background-color: $black;
            color: $white;
            &:hover {
              outline: 3px solid;
              outline-offset: 0;
              outline-color: $black;
            }
          }
        }
      }
    }
  }
  // Kuulemiset - Hearings
  .hearings {
    .page-section {
      &--hearings {
        // SEARCH FIELD
        &-search {
          // SEARCH TEXT
          .form-control, .Select-control {
            border-color: $black;
            color: $black;
          }
          .btn {
            background-color: $black;
            color: $white;
            border-color: $black;
          }
          // SEARCH LABEL
          .Select--multi {
            .Select-value {
              color: $black !important;
              background-color: $white;
              border-color: $black;
              &-icon {
                border-color: $black;
                &:hover {
                  color: $black;
                  background-color: $white;
                }
              }
            }
            .Select-menu-outer {
              .Select-option, .Select-option.is-focused {
                color: $black;
                background-color: $white;
              }
              .Select-option.is-focused {
                border: 1px solid $black;
              }
            }
          }
        }
        // TAB
        &-tabs {
          a {
            color: black;
          }
        }
      }
    }
    // HEARINGS LIST
    #hearings-section {
      .hearing-list {
        // TOP - RESULT CONTROLS
        &__result-controls {
          .form-control {
            border-color: $black;
            color: $black;
          }
        }
        &__hearing-list-title {
          color: $black;
        }
        // HEARING ITEM
        &-item {
          border: 1px solid $black;
          box-shadow: none;

          &-times {
            color: $black;
          }
        }
      }
    }
  }
  // Hearing
  .hearing-page {
    // HEADER
    .header-section {
      background-color: $white;
      border-bottom: 1px solid $black;
    }

    // MAIN SECTION - SUBSECTION
    .hearing-content-section.main,
    .hearing-content-section.subsection {
      .btn {
        background-color: $black;
        color: $white;
        border-color: $black;

        &:hover {
          outline: 3px solid;
          outline-offset: 0;
          outline-color: $black;
        }
      }

      // COMMENTS SECTION
      #comments-section {

        .sortable-comment-list {
          background-color: $white;
          border: 1px solid $black;

          .comment-form {
            &__select-file > .custom-file-input + label {
              border-color: $black;
            }
            .form-control {
              border-color: $black;
              color: $black;
            }
            .comment-buttons {
              .btn {
                border-color: $black;
              }
            }
          }
          #sort-select.form-control {
            background-color: $white;
            color: $black;
          }
          .hearing-comment {
            border: 1px solid $black;

            &-date {
              color: $black;
            }
          }
        }
      }
    }

    // SUB SECTION
    .hearing-content-section.subsection {

      .hearing-subsection-title {
        &-counter {
          color: $black;
        }
      }
      .section-browser {
        .pager > li > a {
          color: $white;
          border-color: $black;
          background-color: $black;
          &:hover {
            outline: 3px solid;
            outline-offset: 0;
            outline-color: $black;
          }
        }
        .pager > li.disabled > span {
          background-color: $black;
          color: $white;
          opacity: 0.65;
        }
      }
    }
  }
}
// HIGH-CONTRAST STUFF ENDS
