:focus,
.form-control:focus,
a:focus,
button:focus,
.btn:focus,
.Select.is-focused:not(.is-open) > .Select-control,
.dropdown-menu > .active > a:focus {
  outline: 3px solid;
  outline-offset: 0;
  outline-color: #00375e;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > .active > a:hover {
  text-decoration: underline;
}

.site-footer,
.navbar-primary {
  :focus {
    outline-color: #fff;
  }
}

.hearing-section {
  h2 {
    .hearing-section-toggle-button:not(#hearing-section-project-accordion-button) {
      &:hover,
      &:focus {
          > span:not(.fa) {
            color: $link-hover-color;
            text-decoration: none;
            outline: 3px solid;
            outline-offset: 2px;
            outline-color: #00375e;
        }
      }
    }
    #hearing-section-project-accordion-button {
      @media (max-width: 576px) {
        display: inline-grid;
      }

      &:hover,
      &:focus {
        > span:not(.hearing-section-toggle-button-subtitle) {
          color: $link-hover-color;
          text-decoration: none;
          outline: 3px solid;
          outline-offset: 2px;
          outline-color: #00375e;
          
          span {
            text-decoration: none;
          }
        }
      }
      .fa {
        position: absolute;
      }
    }
  }

.section-card-title {
    display: inline-block;
    
    &:hover,
    &:focus {
      color: $link-hover-color;
      text-decoration: none ;
      outline: 3px solid;
      outline-offset: 0px;
      outline-color: #00375e;        
    }
  }
}

.accessibility-page {
  a {
    text-decoration: underline;
  }
}